body {
	font-family: 'Varela Round', sans-serif;
	background-image: url('galac.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.modal-login {
	width: 350px;
	margin: 30px auto;
}

.modal-login1 {
	width: 3501px;
	margin: 30px auto;
}
.modal-login .modal-content {
		padding: 20px;
		border-radius: 1px;
		border: none;
}
.modal-login .modal-header {
	border-bottom: none;
        position: relative;
		justify-content: center;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	
}

.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 

}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
	
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
	
}
.modal-login .hint-text a {
	color:  #3498db;
}
.trigger-btn {
	display: inline-block;
		margin: 100px auto;
		color: rgb(253, 253, 253);
		font-size: xx-large;
}
.modal-login .error
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}